@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
.shadow-md {
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.075);
}
.shadow-lg {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.075);
}
.shadow-xl {
  box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.075);
}

.border {
  border: 1px solid #000000;
}
.border-sm {
  border: 2px solid #000000;
}
.border-md {
  border: 3px solid #000000;
}
.border-lg {
  border: 4px solid #000000;
}
.border-xl {
  border: 5px solid #000000;
}

.border-dotted {
  border: 1px dotted #000000;
}
.border-dotted-sm {
  border: 2px dotted #000000;
}
.border-dotted-md {
  border: 3px dotted #000000;
}
.border-dotted-lg {
  border: 4px dotted #000000;
}
.border-dotted-xl {
  border: 5px dotted #000000;
}

.border-dashed {
  border: 1px dashed #000000;
}
.border-dashed-sm {
  border: 2px dashed #000000;
}
.border-dashed-md {
  border: 3px dashed #000000;
}
.border-dashed-lg {
  border: 4px dashed #000000;
}
.border-dashed-xl {
  border: 5px dashed #000000;
}

.border-radius {
  border-radius: 4px;
}
.border-radius-1 {
  border-radius: 6px;
}
.border-radius-2 {
  border-radius: 8px;
}
.border-radius-3 {
  border-radius: 10px;
}
.border-radius-4 {
  border-radius: 20px;
}
.border-radius-5 {
  border-radius: 30px;
}

.bg-primary {
  background-color: #006dd4;
}
.bg-primary-soft {
  background-color: #87cefa;
}
.bg-primary-dark {
  background-color: #1f75fe;
}

.bg-secondary {
  background-color: #313131;
}
.bg-secondary-soft {
  background-color: #4a4a4a;
}
.bg-secondary-dark {
  background-color: #1b1b1b;
}

.bg-warning {
  background-color: #ffb400;
}
.bg-warning-soft {
  background-color: #ffd966;
}
.bg-warning-dark {
  background-color: #c99900;
}

.bg-danger {
  background-color: #ff0000;
}
.bg-danger-soft {
  background-color: #ed2939;
}
.bg-danger-dark {
  background-color: #cc0000;
}

.bg-info {
  background-color: #00b3ff;
}
.bg-info-soft {
  background-color: #00e6ff;
}
.bg-info-dark {
  background-color: #008cbf;
}

.bg-transparent {
  background-color: transparent;
}

.bg-g1 {
  background-image: linear-gradient(to right, #006dd4, #313131);
}

.text-primary {
  color: #006dd4;
}
.text-primary-soft {
  color: #87cefa;
}
.text-primary-dark {
  color: #1f75fe;
}

.text-secondary {
  color: #313131;
}
.text-secondary-soft {
  color: #4a4a4a;
}
.text-secondary-dark {
  color: #1b1b1b;
}

.text-warning {
  color: #ffb400;
}
.text-warning-soft {
  color: #ffd966;
}
.text-warning-dark {
  color: #c99900;
}

.text-danger {
  color: #ff0000;
}
.text-danger-soft {
  color: #ed2939;
}
.text-danger-dark {
  color: #cc0000;
}

.text-info {
  color: #00b3ff;
}
.text-info-soft {
  color: #00e6ff;
}
.text-info-dark {
  color: #008cbf;
}

.text-light {
  color: #ffffff;
}

.min-vh-25 {
  min-height: 25vh;
}
.min-vh-50 {
  min-height: 50vh;
}
.min-vh-75 {
  min-height: 75vh;
}
.min-vh-100 {
  min-height: 100vh;
}

.max-vh-25 {
  max-height: 25vh;
}
.max-vh-50 {
  max-height: 50vh;
}
.max-vh-75 {
  max-height: 75vh;
}
.max-vh-100 {
  max-height: 100vh;
}

.min-vw-25 {
  min-width: 25vh;
}
.min-vw-50 {
  min-width: 50vh;
}
.min-vw-75 {
  min-width: 75vh;
}
.min-vw-100 {
  min-width: 100vh;
}

.max-vw-25 {
  max-width: 25vh;
}
.max-vw-50 {
  max-width: 50vh;
}
.max-vw-75 {
  max-width: 75vh;
}
.max-vw-100 {
  max-width: 100vh;
}

.h-1 {
  height: 1.5em;
}
.h-2 {
  height: 5em;
}
.h-3 {
  height: 10.5em;
}
.h-4 {
  height: 18em;
}
.h-5 {
  height: 27.5em;
}
.h-6 {
  height: 39em;
}

.w-1 {
  width: 20%;
}
.w-2 {
  width: 40%;
}
.w-3 {
  width: 60%;
}
.w-4 {
  width: 80%;
}
.w-5 {
  width: 90%;
}
.w-6 {
  width: 100%;
}

.p-1 {
  padding: 1em;
}
.p-2 {
  padding: 2em;
}
.p-3 {
  padding: 3em;
}
.p-4 {
  padding: 4em;
}
.p-5 {
  padding: 5em;
}
.p-6 {
  padding: 6em;
}

.px-1 {
  padding: 0 1em;
}
.px-2 {
  padding: 0 2em;
}
.px-3 {
  padding: 0 3em;
}
.px-4 {
  padding: 0 4em;
}
.px-5 {
  padding: 0 5em;
}
.px-6 {
  padding: 0 6em;
}

.py-1 {
  padding: 1em 0;
}
.py-2 {
  padding: 2em 0;
}
.py-3 {
  padding: 3em 0;
}
.py-4 {
  padding: 4em 0;
}
.py-5 {
  padding: 5em 0;
}
.py-6 {
  padding: 6em 0;
}

.pt-1 {
  padding-top: 1em;
}
.pt-2 {
  padding-top: 2em;
}
.pt-3 {
  padding-top: 3em;
}
.pt-4 {
  padding-top: 4em;
}
.pt-5 {
  padding-top: 5em;
}
.pt-6 {
  padding-top: 6em;
}

.pr-1 {
  padding-right: 1em;
}
.pr-2 {
  padding-right: 2em;
}
.pr-3 {
  padding-right: 3em;
}
.pr-4 {
  padding-right: 4em;
}
.pr-5 {
  padding-right: 5em;
}
.pr-6 {
  padding-right: 6em;
}

.pb-1 {
  padding-bottom: 1em;
}
.pb-2 {
  padding-bottom: 2em;
}
.pb-3 {
  padding-bottom: 3em;
}
.pb-4 {
  padding-bottom: 4em;
}
.pb-5 {
  padding-bottom: 5em;
}
.pb-6 {
  padding-bottom: 6em;
}

.pl-1 {
  padding-left: 1em;
}
.pl-2 {
  padding-left: 2em;
}
.pl-3 {
  padding-left: 3em;
}
.pl-4 {
  padding-left: 4em;
}
.pl-5 {
  padding-left: 5em;
}
.pl-6 {
  padding-left: 6em;
}

.m-1 {
  margin: 1em;
}
.m-2 {
  margin: 2em;
}
.m-3 {
  margin: 3em;
}
.m-4 {
  margin: 4em;
}
.m-5 {
  margin: 5em;
}
.m-6 {
  margin: 6em;
}

.mt-1 {
  margin-top: 1em;
}
.mt-2 {
  margin-top: 2em;
}
.mt-3 {
  margin-top: 3em;
}
.mt-4 {
  margin-top: 4em;
}
.mt-5 {
  margin-top: 5em;
}
.mt-6 {
  margin-top: 6em;
}

.mr-1 {
  margin-right: 1em;
}
.mr-2 {
  margin-right: 2em;
}
.mr-3 {
  margin-right: 3em;
}
.mr-4 {
  margin-right: 4em;
}
.mr-5 {
  margin-right: 5em;
}
.mr-6 {
  margin-right: 6em;
}

.mb-1 {
  margin-bottom: 1em;
}
.mb-2 {
  margin-bottom: 2em;
}
.mb-3 {
  margin-bottom: 3em;
}
.mb-4 {
  margin-bottom: 4em;
}
.mb-5 {
  margin-bottom: 5em;
}
.mb-6 {
  margin-bottom: 6em;
}

.ml-1 {
  margin-left: 1em;
}
.ml-2 {
  margin-left: 2em;
}
.ml-3 {
  margin-left: 3em;
}
.ml-4 {
  margin-left: 4em;
}
.ml-5 {
  margin-left: 5em;
}
.ml-6 {
  margin-left: 6em;
}

.fw-light {
  font-weight: 300;
  font-size: small;
}
.fw-normal {
  font-weight: 500;
  font-size: medium;
}
.fw-bold {
  font-weight: 900;
  font-size: large;
}

.fs-1 {
  font-size: 1rem;
}

.position-sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}
.position-fixed {
  position: fixed;
  top: 0;
  z-index: 1;
}
.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}
.position-static {
  position: static;
}
.position-top {
  position: absolute;
  top: 0;
  width: 100%;
}
.position-tr {
  position: absolute;
  top: 0;
  right: 0;
}
.position-tl {
  position: absolute;
  top: 0;
  left: 0;
}
.position-br {
  position: absolute;
  bottom: 0;
  right: 0;
}
.position-bl {
  position: absolute;
  bottom: 0;
  left: 0;
}

.box {
  width: 100%;
  padding: 0 20px 0 20px;
  margin: 0 auto;
}
.box-full {
  max-width: 100%;
  padding: 0 20px 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .box-sm {
    width: 100%;
    padding: 0 20px 0 20px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .box-md {
    width: 80%;
    padding: 0 20px 0 20px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1024) {
  .box-lg {
    width: 80%;
    padding: 0 20px 0 20px;
    margin: 0 auto;
  }
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
}
.btn-rounded-1 {
  border-radius: 5px;
}
.btn-rounded-2 {
  border-radius: 10px;
}
.btn-rounded-3 {
  border-radius: 20px;
}
.btn-rounded-4 {
  border-radius: 30px;
}
.btn-rounded-5 {
  border-radius: 40px;
}
.btn-primary {
  background-color: #006dd4;
  border-color: #006dd4;
}
.btn-primary:hover {
  background-color: #ffffff;
  border-color: #1f75fe;
  color: #006dd4;
}
.btn-outline-primary {
  background-color: transparent;
  border-color: #006dd4;
  color: #006dd4;
}
.btn-outline-primary:hover {
  background-color: #006dd4;
  color: #ffffff;
}
.btn-secondary {
  background-color: #313131;
  border-color: #313131;
}
.btn-secondary:hover {
  background-color: #ffffff;
  border-color: #1b1b1b;
  color: #313131;
}
.btn-outline-secondary {
  background-color: transparent;
  border-color: #313131;
  color: #313131;
}
.btn-outline-secondary:hover {
  background-color: #313131;
  color: #ffffff;
}
.btn-danger {
  background-color: #ff0000;
  border-color: #ff0000;
}
.btn-danger:hover {
  background-color: #ffffff;
  border-color: #cc0000;
  color: #ff0000;
}
.btn-outline-danger {
  background-color: transparent;
  border-color: #ff0000;
  color: #ff0000;
}
.btn-outline-danger:hover {
  background-color: #ff0000;
  color: #ffffff;
}
.btn-success {
  background-color: #00b300;
  border-color: #00b300;
}
.btn-success:hover {
  background-color: #ffffff;
  border-color: #008500;
  color: #00b300;
}
.btn-outline-success {
  background-color: transparent;
  border-color: #00b300;
  color: #00b300;
}
.btn-outline-success:hover {
  background-color: #00b300;
  color: #ffffff;
}
.btn-light {
  background-color: #ffffff;
  border-color: transparent;
}
.btn-light:hover {
  background-color: #ffffff;
  border: 2px solid #000000;
  color: #000000;
}
.btn-outline-light {
  background-color: transparent;
  border-color: #c0c0c0;
  color: #c0c0c0;
}
.btn-outline-light:hover {
  background-color: #c0c0c0;
  color: #000000;
}
.btn-info {
  background-color: #00b3ff;
  border-color: #00b3ff;
}
.btn-info:hover {
  background-color: #ffffff;
  border-color: #006dd4;
  color: #00b3ff;
}
.btn-outline-info {
  background-color: transparent;
  border-color: #00b3ff;
  color: #00b3ff;
}
.btn-outline-info:hover {
  background-color: #00b3ff;
  color: #ffffff;
}
.btn-warning {
  background-color: #ffb400;
  border-color: #ffb400;
}
.btn-warning:hover {
  background-color: #ffffff;
  border-color: #c99900;
  color: #ffb400;
}
.btn-outline-warning {
  background-color: transparent;
  border-color: #ffb400;
  color: #ffb400;
}
.btn-outline-warning:hover {
  background-color: #ffb400;
  color: #ffffff;
}

nav[component=nav-sm] {
  height: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

aside[component=sidebar-left] {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
}

aside[component=sidebar-right] {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100vh;
}

.grid .grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.grid-row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.grid-col-1 {
  grid-column: span 1;
}
.grid-col-2 {
  grid-column: span 2;
}
.grid-col-3 {
  grid-column: span 3;
}
.grid-col-4 {
  grid-column: span 4;
}
.grid-col-5 {
  grid-column: span 5;
}
.grid-col-6 {
  grid-column: span 6;
}
.grid-col-7 {
  grid-column: span 7;
}
.grid-col-8 {
  grid-column: span 8;
}
.grid-col-9 {
  grid-column: span 9;
}
.grid-col-10 {
  grid-column: span 10;
}
.grid-col-11 {
  grid-column: span 11;
}
.grid-col-12 {
  grid-column: span 12;
}
.grid-gap-1 {
  grid-gap: 10px;
}
.grid-gap-2 {
  grid-gap: 20px;
}
.grid-gap-3 {
  grid-gap: 30px;
}
.grid-gap-4 {
  grid-gap: 40px;
}
.grid-gap-5 {
  grid-gap: 50px;
}
.grid-gap-6 {
  grid-gap: 60px;
}

.ailgn-start {
  display: grid;
  align-items: start;
}
.ailgn-center {
  display: grid;
  align-items: center;
}
.ailgn-end {
  display: grid;
  align-items: end;
}

.justify-start {
  display: grid;
  justify-content: start;
}
.justify-center {
  display: grid;
  justify-content: center;
}
.justify-end {
  display: grid;
  justify-content: end;
}
.justify-between {
  display: grid;
  justify-content: space-between;
}
.justify-around {
  display: grid;
  justify-content: space-around;
}
.justify-evenly {
  display: grid;
  justify-content: space-evenly;
}
.justify-stretch {
  display: grid;
  justify-content: stretch;
}
.justify-baseline {
  display: grid;
  justify-content: baseline;
}