// Grid
.grid {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(12, 1fr)
    }
    // row
    &-row {
        display: grid;
        grid-template-columns: repeat(12, 1fr)
    }
    // columns

    &-col {
        &-1 {
            grid-column: span 1;
        }

        &-2 {
            grid-column: span 2;
        }

        &-3 {
            grid-column: span 3;
        }

        &-4 {
            grid-column: span 4;
        }

        &-5 {
            grid-column: span 5;
        }

        &-6 {
            grid-column: span 6;
        }

        &-7 {
            grid-column: span 7;
        }

        &-8 {
            grid-column: span 8;
        }

        &-9 {
            grid-column: span 9;
        }

        &-10 {
            grid-column: span 10;
        }

        &-11 {
            grid-column: span 11;
        }

        &-12 {
            grid-column: span 12;
        }
    }

    &-gap {
        &-1 {
            grid-gap: 10px;
        }

        &-2 {
            grid-gap: 20px;
        }

        &-3 {
            grid-gap: 30px;
        }

        &-4 {
            grid-gap: 40px;
        }

        &-5 {
            grid-gap: 50px;
        }

        &-6 {
            grid-gap: 60px;
        }
    }
}

// align-items
.ailgn{

    &-start{
        display: grid;
        align-items: start;
    }

    &-center{
        display: grid;
        align-items: center;
    }

    &-end{
        display: grid;
        align-items: end;
    }
}

// justifycontent

.justify{
    &-start{
        display: grid;
        justify-content: start;
    }

    &-center{
        display: grid;
        justify-content: center;
    }

    &-end{
        display: grid;
        justify-content: end;
    }
}