// min-viewport-height
.min-vh{
    &-25{
        min-height: calc(25vh);
    }
    &-50{
        min-height: calc(50vh);
    }
    &-75{
        min-height: calc(75vh);
    }
    &-100{
        min-height: calc(100vh);
    }
}
// max-viewport-height
.max-vh{
    &-25{
        max-height: calc(25vh);
    }
    &-50{
        max-height: calc(50vh);
    }
    &-75{
        max-height: calc(75vh);
    }
    &-100{
        max-height: calc(100vh);
    }
}
// min-viewport-width
.min-vw{
    &-25{
        min-width: calc(25vh);
    }
    &-50{
        min-width: calc(50vh);
    }
    &-75{
        min-width: calc(75vh);
    }
    &-100{
        min-width: calc(100vh);
    }
}
// max-viewport-width
.max-vw{
    &-25{
        max-width: calc(25vh);
    }
    &-50{
        max-width: calc(50vh);
    }
    &-75{
        max-width: calc(75vh);
    }
    &-100{
        max-width: calc(100vh);
    }
}
// height
.h{
    &-1{
        height: 1.5em;
    }
    &-2{
        height: 2.5em * 2;
    }
    &-3{
        height: 3.5em * 3;
    }
    &-4{
        height: 4.5em * 4;
    }
    &-5{
        height: 5.5em * 5;
    }
    &-6{
        height: 6.5em * 6;
    }
}
// width
.w{
    &-1{
        width: 20%;
    }
    &-2{
        width: 40%;
    }
    &-3{
        width: 60%;
    }
    &-4{
        width: 80%;
    }
    &-5{
        width: 90%;
    }
    &-6{
        width: 100%;
    }
}
// Padding
.p{
    &-1{
        padding: 1em;
    }
    &-2{
        padding: 2em;
    }
    &-3{
        padding: 3em;
    }
    &-4{
        padding: 4em;
    }
    &-5{
        padding: 5em;
    }
    &-6{
        padding: 6em;
    }
}
// Margin
.m{
    &-1{
        margin: 1em;
    }
    &-2{
        margin: 2em;
    }
    &-3{
        margin: 3em;
    }
    &-4{
        margin: 4em;
    }
    &-5{
        margin: 5em;
    }
    &-6{
        margin: 6em;
    }
}