.btn {
    display: inline-block;
    padding: 6px 12px;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;

    &-rounded{
        &-1{
            border-radius: 5px;
        }

        &-2{
            border-radius: 10px;
        }

        &-3{
            border-radius: 20px;
        }

        &-4{
            border-radius: 30px;
        }

        &-5{
            border-radius: 40px;
        }
    }

    &-primary{
        background-color:$color_primary;
        border-color: $color_primary;

        &:hover{
            background-color: $color_white;
            border-color: $color_primary_dark;
            color: $color_primary;
        }
    }

    &-outline-primary{
        background-color: transparent;
        border-color: $color_primary;
        color: $color_primary;

        &:hover{
            background-color: $color_primary;
            color: $color_white;
        }
    }

    &-secondary{
        background-color: $color_secondary;
        border-color: $color_secondary;

        &:hover{
            background-color: $color_white;
            border-color: $color_secondary_dark;
            color: $color_secondary;
        }
    }

    &-outline-secondary{
        background-color: transparent;
        border-color: $color_secondary;
        color: $color_secondary;

        &:hover{
            background-color: $color_secondary;
            color: $color_white;
        }
    }

    &-danger{
        background-color: $color_danger;
        border-color: $color_danger;

        &:hover{
            background-color: $color_white;
            border-color: $color_danger_dark;
            color: $color_danger;
        }
        
    }

    &-outline-danger{
        background-color: transparent;
        border-color: $color_danger;
        color: $color_danger;

        &:hover{
            background-color: $color_danger;
            color: $color_white;
        }
    }

    &-success{
        background-color: $color_success;
        border-color: $color_success;

        &:hover{
            background-color: $color_white;
            border-color: $color_success_dark;
            color: $color_success;
        }
    }

    &-outline-success{
        background-color: transparent;
        border-color: $color_success;
        color: $color_success;

        &:hover{
            background-color: $color_success;
            color: $color_white;
        }
    }

    &-light{
        background-color: $color_white;
        border-color: transparent;

        &:hover{
            background-color: $color_white;
            border: 2px solid $color_dark;
            color: $color_dark;
        }
    }

    &-outline-light{
        background-color: transparent;
        border-color: $color_light;
        color: $color_light;

        &:hover{
            background-color: $color_light;
            color: $color_dark;
        }
    }

    &-info{
        background-color: $color_info;
        border-color: $color_info;

        &:hover{
            background-color: $color_white;
            border-color: $color_primary;
            color: $color_info;
        }
    }

    &-outline-info{
        background-color: transparent;
        border-color: $color_info;
        color: $color_info;

        &:hover{
            background-color: $color_info;
            color: $color_white;
        }
    }

    &-warning{
        background-color: $color_warning;
        border-color: $color_warning;

        &:hover{
            background-color: $color_white;
            border-color: $color_warning_dark;
            color: $color_warning;
        }
    }

    &-outline-warning{
        background-color: transparent;
        border-color: $color_warning;
        color: $color_warning;

        &:hover{
            background-color: $color_warning;
            color: $color_white;
        }
    }
}
