.box{
    padding: 0 50px 0 50px;
    margin: 0 auto;

    &-sm{
        max-width: 1200px;
        margin: 0 auto;
    }
    &-md{
        max-width: 1600px;
        margin: 0 auto;
    }
    &-lg{
        max-width: 1200px;
        margin: 0 auto;
    }
    &-xl{
        max-width: 1200px;
        margin: 0 auto;
    }
    &-full{
        max-width: 100%;
        margin: 0 auto;
    }
}