.box{
    width: 100%;
    padding: 0 20px 0 20px;
    margin: 0 auto;

    &-full{
        max-width: 100%;
        padding: 0 20px 0 20px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 320px){
    .box-sm{
        width: 100%;
        padding: 0 20px 0 20px;
        margin: 0 auto;
    }
}


@media screen and (min-width: 768px){
    .box-md{
        width: 80%;
        padding: 0 20px 0 20px;
        margin: 0 auto;
    }
}
    
@media screen and (min-width: 1024){
    .box-lg{
        width: 80%;
        padding: 0 20px 0 20px;
        margin: 0 auto;
    }
}



