nav[component="nav"]{
    height: 3rem;
}

.nav-links{
    width: max-content;
    &-row{
        display: flex;
        flex-direction: column;
    }

    &-col{
        display: flex;
    }

    &-bold{
        font-weight: bold;
    }
}